/* welcomestyle.css */
body {
    background-color: #f2f2f2;
}


h1 {
    font-size: 50px;
    font-weight: 600;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    display: inline-block;
    background: linear-gradient(to right, #969694, #dec7b1);
    padding: 10px 20px;
    border-radius: 5px;
}


 

.logout-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px; 

}

.logout-btn:hover {
    background-color: #555;
}

.logout-btn a {
    color: #fff;
    text-decoration: none;
    
}

.Lib-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(librarian.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

.para-li {
    font-size: 15px;
    width: 900px;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Arial';
    color: #f6f0f0;
    letter-spacing: 1.2px;
    line-height: 30px;
    background-color: rgba(82, 79, 79, 0.5);
    
  }

  .btn-add:hover {
    background-color: #555;
  }
  .btn-add {
    background-color: #280913a4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    height: 250px;
    text-decoration: none;
    margin: 0 40px;
  }
  .btn-add a {
    color: #fff;
    text-decoration: none;
    
}
