*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)100%,rgba(0,0,0,0.5)100%),url(Librarian.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
}
.main h2{
    color: aliceblue;
    padding:justity;
}